# /etc/haproxy/haproxy.cfg (excerpt from 10.0.1.50)

global
    log /dev/log local0
    maxconn 20000
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http

frontend http-in
    bind *:80
    
    # Route for push server (websocket and long polling)
    acl is_push path_beg /bitrix/sub/
    acl is_pushws path_beg /bitrix/subws/
    use_backend bitrix-push if is_push || is_pushws
    
    default_backend bitrix-web

backend bitrix-web
    balance roundrobin
    server web01 10.0.1.220:80 check
    server web02 10.0.1.221:80 check
    server web03 10.0.1.222:80 check

backend bitrix-push
    mode http
    option http-server-close
    timeout server 1h
    timeout tunnel 1h
    # Принудительно передаем заголовки для WebSocket
    http-request set-header Upgrade websocket if { hdr(Upgrade) -i websocket }
    http-request set-header Connection Upgrade if { hdr(Upgrade) -i websocket }
    server push01 10.0.1.230:8893 check
